---
import type { Locale } from '@services/routing';
import { getTranslationValue } from '@utils/i18n';
import type { CollectionEntry } from 'astro:content';
import EducationItem from './EducationItem.astro';

type Props = {
  collection: CollectionEntry<'education'>[]
}

const { collection } = Astro.props;

const locale = Astro.params.locale as Locale;
const t = (key: string): string => locale ? getTranslationValue(locale, key) : getTranslationValue('en', key);
---

<section class="education wrap">
  <h2>{ t("education.title") }</h2>
  {
    collection.map((entry) => (
      <EducationItem dataEntry={entry} />
    ))
  }

</section>


<style lang="scss">
  @mixin light-theme {
    --color-background__education: white;
    --color-background__education-item-content__after: var(--color-black-night);
    --color-background__education-item-content__before: var(--color-black-night);
  }

  @mixin dark-theme {
    --color-background__education: var(--color-black-oil);
    --color-background__education-item-content__after: var(--color-yellow-main);
    --color-background__education-item-content__before: var(--color-yellow-main);
  }

  :root{
    @include light-theme;
  }

  :root.dark{
    @include dark-theme;
  }

  @media ( prefers-color-scheme: dark ) {
    :root{
      @include light-theme;
    }

    :root.dark{
      @include dark-theme;
    }
  }

  .education{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    background-color: var(--color-background__education);
  }

  .education .education-item{
    display: flex;
    justify-content: space-between;
    gap: 10%;
  }

  .education-item .edu-item-data{
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: 1rem 0;
  }

  .education-item .edu-item-content{
    max-width: 75%;
    min-width: 75%;
    position: relative;
    padding: 1rem 0;
  }

  .education-item .edu-item-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: -1.75rem;
    width: 0.125rem;
    height: 100%;
    background-color: var(--color-background__education-item-content__before);
  }


  .education-item:last-of-type .edu-item-content::before{
    height: 40%;
  }


  .education-item .edu-item-content::after{
    content: '';
    position: absolute;
    top: 0.625rem;
    left: -2rem;
    width: 0.625rem;
    height: 0.625rem;
    background-color: var(--color-background__education-item-content__after);
    border-radius: 50%;
  }

  .education-item .edu-item-content p{
    line-height: 130%;
  }

  @media screen and ( width <= 850px ) {
    .education .education-item{
      flex-direction: column-reverse;
      padding: 1.25rem 2.1875rem;
    }

    .education-item .edu-item-content{
      max-width: none;
    }

    .education-item .edu-item-content::before{
      height: 170%;
    }
  }
</style>