// variables.scss


/*  Colors  */
$color-yellow-main: #FFF643;
$color-yellow-js: #F7DF1E;
$color-yellow-light: #FFF178;
$color-yellow-soft: #FAF1C1;
$color-yellow-darker: #DEC81A;
$color-black-oil: #0C0C0C;
$color-black-obsidian: #0B1215;
$color-black-night: #0B1215;
$color-gray-light: #F9F9F9;
$color-gray-light: #E7E7E7;
$color-gray-light3: #ECECEC;
$color-gray-yellowed: #DCE0C3;
$color-gray-brownie: #424834;
$color-gray-dark: #1D1E23;

/*  Fonts  */
$font-main: 'Source Code Pro';
$font-alt: 'Oxygen Mono';
$font-sans-serif: 'Oxygen';