
*{
  /* border: 1px solid black !important; */
  box-sizing: border-box;
}

/*  VARIABLES  */
/*#region THEMES */
:root{

  /*  Colors  */
  --color-yellow-main: #FFF643;
  --color-yellow-js: #F7DF1E;
  --color-yellow-light: #FFF178;
  --color-yellow-soft: #FAF1C1;
  --color-yellow-darker: #DEC81A;

  --color-black-oil: #0C0C0C;
  --color-black-obsidian: #0B1215;
  --color-black-night: #0B1215;

  --color-gray-light: #F9F9F9;
  --color-gray-light2: #E7E7E7;
  --color-gray-light3: #ECECEC;
  --color-gray-yellowed: #DCE0C3;
  --color-gray-brownie: #424834;

  --color-gray-dark: #1D1E23;

  /*  Fonts  */
  --font-main: 'Source Code Pro';
  --font-alt: 'Oxygen Mono';
  --font-sans-serif: 'Oxygen';


  /*  Element Variables  */

  --color-h2-underline: black;
  --color-text-selection: var(--color-black-obsidian);
  --color-background-text-selection: var(--color-yellow-js);
  --color-span-default: var(--color-gray-brownie);
  --color-anchor-default: var(--color-yellow-darker);
  --color-anchor-selection: black;
  --color-anchor-hover: var(--color-black-night);
  --color-text__default: black;
  --color-text--bold-1: var(--color-yellow-darker);


  /* Label 1 Component */
  --color-background__label-1--default: #0B1215;
  --color-text__label-1--default: var(--color-yellow-main);

  /* Tabs Component */

  --color-text__tab-rounded: white;
  --color-border__tab-rounded: white;
  --color-text__tab-rounded--hover: black;
  --color-border__tab-rounded--hover: black;
  --color-background__tab-rounded--hover: white;
  --color-background__tab-rounded--active: var(--color-yellow-main);
  --color-border__tab-rounded--active: black;
  --color-text__tab-rounded-active: black;

}

/* -----------  DARK MODE ------------ */

:root.dark{
  /*  Element Variables  */

  --color-h2-underline: white;
  --color-text-selection: var(--color-black-obsidian);
  --color-background-text-selection: var(--color-yellow-js);
  --color-span-default: var(--color-gray-light3);
  --color-anchor-default: var(--color-yellow-darker);
  --color-anchor-selection: black;
  --color-anchor-hover: var(--color-black-night);
  --color-text__default: white;
  --color-text--bold-1: var(--color-yellow-js);


  /* Base backgrounds */

  --color-background__body: var(--color-black-obsidian);
  --color-background__main: var(--color-black-obsidian);


  /* Label 1 Component */
  --color-background__label-1--default: var(--color-yellow-main);
  --color-text__label-1--default: var(--color-black-oil);

  /* Tabs Component */

  --color-text__tab-rounded: white;
  --color-border__tab-rounded: white;
  --color-text__tab-rounded--hover: black;
  --color-border__tab-rounded--hover: black;
  --color-background__tab-rounded--hover: white;
  --color-background__tab-rounded--active: var(--color-yellow-main);
  --color-border__tab-rounded--active: black;
  --color-text__tab-rounded-active: black;

}




/*#region MEDIA QUERY - THEME COLORS  */

@media ( prefers-color-scheme: dark ) {
  :root.dark{
    /*  Element Variables  */

    --color-h2-underline: white;
    --color-text-selection: var(--color-black-obsidian);
    --color-background-text-selection: var(--color-yellow-js);
    --color-span-default: var(--color-gray-light3);
    --color-anchor-default: var(--color-yellow-darker);
    --color-anchor-selection: black;
    --color-anchor-hover: var(--color-black-night);
    --color-text__default: white;
    --color-text--bold-1: var(--color-yellow-js);

     /* Base backgrounds */

    --color-background__body: var(--color-black-obsidian);
    --color-background__main: var(--color-black-obsidian);

    /* Label 1 Component */
    --color-background__label-1--default: var(--color-yellow-main);
    --color-text__label-1--default: var(--color-black-oil);

    /* Tabs Component */

    --color-text__tab-rounded: white;
    --color-border__tab-rounded: white;
    --color-text__tab-rounded--hover: black;
    --color-border__tab-rounded--hover: black;
    --color-background__tab-rounded--hover: white;
    --color-background__tab-rounded--active: var(--color-yellow-main);
    --color-border__tab-rounded--active: black;
    --color-text__tab-rounded-active: black;
  }

  :root{
    /*  Element Variables  */

    --color-h2-underline: black;
    --color-text-selection: var(--color-black-obsidian);
    --color-background-text-selection: var(--color-yellow-js);
    --color-span-default: var(--color-gray-brownie);
    --color-anchor-default: var(--color-yellow-darker);
    --color-anchor-selection: black;
    --color-anchor-hover: var(--color-black-night);
    --color-text__default: black;
    --color-text--bold-1: var(--color-yellow-darker);


    /* Label 1 Component */
    --color-background__label-1--default: #0B1215;
    --color-text__label-1--default: var(--color-yellow-main);

    /* Tabs Component */

    --color-text__tab-rounded: white;
    --color-border__tab-rounded: white;
    --color-text__tab-rounded--hover: black;
    --color-border__tab-rounded--hover: black;
    --color-background__tab-rounded--hover: white;
    --color-background__tab-rounded--active: var(--color-yellow-main);
    --color-border__tab-rounded--active: black;
    --color-text__tab-rounded-active: black;
  
  }
}


/*#endregion*/

/*#endregion */



/*#region GENERAL STYLES */

html{
  font-family: 'Source Code Pro', 'Oxygen Mono', 'Oxygen', 'sans-serif';
  font-size: 16px;
  color: var(--color-text__default);
}

body{
  background-color: var(--color-background__body);
}

main{
  background-color: var(--color-background__main);
}

h1{
  font-size: 4rem;
  font-weight: bold;
  margin: .5em 0;
}

h2{
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1em 0;
  position: relative;

  &::after{
    content: '';
    width: 10%;
    height: 0.18rem;
    background-color: var(--color-h2-underline);
    position: absolute;
    bottom: -0.375rem;
    left: 0;
  }
}

h3{
  margin: .5em 0;
  font-size: 1.375rem;
  font-weight: bold;
}

h4{
  margin: .5em 0;
  font-size: 1.125rem;
  font-weight: bold;
}

h5{
  margin: .5em 0;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 120%;
}

h6{
  margin: .5em 0;
  font-size: 0.625rem;
  font-weight: bold;
}

p{
  margin: 1em 0;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 150%;
}

p::selection, h2::selection, h3::selection, h4::selection, span::selection{
  background-color: var(--color-background-text-selection);
  color: var(--color-text-selection);;
}

span{
  font-size: 0.75rem;
  color: var(--color-span-default);
}

a{
  font-size: 0.875rem;
  color: var(--color-anchor-default);
  font-weight: bold;
  text-decoration: none;
}

a::selection{
  background-color: var(--color-anchor-selection);
}

a:hover{
  color: var(--color-anchor-hover);
  text-decoration: underline;
}

.wrap{
  padding: 0 10%;
  /* max-width: 1200px; */
}

.hidden{
  display: none !important;
}

.yellow-bold{
  color: var(--color-text--bold-1);
  font-weight: bold;
  font-size: 0.875rem;
}


/*#endregion*/


/*#region COMPONENTS STYLES */

.tag{
  border: 0.09rem solid white;
  font-weight: 600;
  padding: .125rem 0.255rem;
  border-radius: 0.2rem;
  color: white;
}


.label1{
  background-color: var(--color-background__label-1--default);
  color: var(--color-text__label-1--default);
  font-size: 0.875rem;
  padding: 0.25rem 0.625rem;
  font-weight: 600;
  width: fit-content;
}

/* Tabs Component */
.tab-rounded{
  font-weight: bold;
  font-size: 0.875rem;
  color: var(--color-text__tab-rounded);
  padding: 0.4375rem 1rem;
  border: 0.125rem solid var(--color-border__tab-rounded);
  border-radius: 0.125rem;
  cursor: pointer;
  transition: all .2s ease;
}

.tab-rounded:hover{
  color: var(--color-text__tab-rounded--hover);
  border: 0.125rem solid var(--color-border__tab-rounded--hover);
  background-color: var(--color-background__tab-rounded--hover);
}

.tab-rounded.active{
  background-color: var(--color-background__tab-rounded--active);
  border: 0.125rem solid var(--color-border__tab-rounded--active);
  color: var(--color-text__tab-rounded-active);
}

/*#endregion */



/*#region  ------ MEDIA QUERIES ------ */

@media screen and ( width <= 850px ) {

}

@media screen and ( width <= 800px ) {

}

@media screen and ( width <= 750px ) {

}


/* ---- LARGER SCREENS ---- */

@media screen and ( width >= 1400px ){
  html{
    font-size: 16px;
  }
}

@media screen and ( width >= 1800px ){
  html{
    font-size: 16px;
  }
}

@media screen and ( width >= 2560px ){
  html{
    font-size: 22px;
  }
}

@media screen and ( width >= 3840px ){
  html{
    font-size: 28px;
  }
}

/*#endregion */

