---
type Props = {
  content: string;
}

const { content } = Astro.props;
---

<span class="tag">{ content }</span>


<style lang="scss">
  .tag {
    border: 0.09rem solid white;
    font-weight: 600;
    padding: .250rem .511rem;
    font-size: 0.85rem;
    border-radius: 0.2rem;
    color: white;
    transition: all .2s ease-in-out;
    flex-shrink: 0;
    transform: scale(1);

    &:hover {
      border-color: black;
      color: black;
      background-color: white;
      padding: .250rem .511rem;
      font-size: 0.85rem;
      transform: scale(1.1);
    }
  }

</style>