---

import Layout from "@layouts/Layout.astro";
import { getCollection, type CollectionEntry } from "astro:content";

interface Props {
  blogPost: CollectionEntry<'blog'>;
}

export async function getStaticPaths() {
  const blogPosts = await getCollection("blog") as CollectionEntry<'blog'>[];

  const paths = blogPosts.map((blogPost) => {
    const url = `${blogPost.slug}`;
    const locale = blogPost.data.language;

    return {
      params: {
        locale,
        path: url,
      },
      props: {
        blogPost
      }
    }
  });

  return paths;
}

const { path, locale } = Astro.params;
console.log( "path param", path );
console.log("locale param", locale);

const { blogPost } = Astro.props as Props;

const { Content } = await blogPost.render();

---

<Layout title={ blogPost.data.title } >
  <main>
    <h1>{ blogPost.data.title }</h1>
    <p>{ blogPost.data.description }</p>

    <Content />
  </main>
</Layout>

<style>
  main {
    color: white;
  }
</style>