---

import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection, type CollectionEntry } from "astro:content";

interface Props {
  blogPost: CollectionEntry<'blog'>;
}

export async function getStaticPaths() {
  const blogPosts = await getCollection("blog") as CollectionEntry<'blog'>[];

  const paths = blogPosts.map((blogPost) => {
    const url = `${blogPost.slug}`;
    const locale = blogPost.data.language;

    return {
      params: {
        locale,
        path: url,
      },
      props: {
        blogPost
      }
    }
  });

  return paths;
}

const { blogPost } = Astro.props as Props;
const { Content } = await blogPost.render();

---

<BaseLayout title={ blogPost.data.title } >
  <div class="wrap">
    <h1>{ blogPost.data.title }</h1>
    <p>{ blogPost.data.description }</p>
    <Content />
  </div>
</BaseLayout>

<style>
  main {
    color: white;
  }
</style>