.modal-overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container{
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1.2rem;
  border: 0.125rem solid var(--color-black-oil);
  position: relative;
  width: 100%;
  height: 100%;
}

.modal-content{
  height: 100%;
}

.modal-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.close-button{
  margin-left: auto;
  cursor: pointer;
  background-color: white;
  border: 2px solid var(--color-black-oil);
  font-size: 1.5rem;
}

@media screen and ( width > 600px ){
  .modal-container{
    width: 80%;
    height: 80%;
  }
}


@media screen and ( width > 1120px ){
  .modal-container{
    width: 70%;
    height: 70%;
  }
}